<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Calc Using Python</h1>

<form action="../cgi-bin/calc.py">
    <table>
        <tr>
            <td>Enter first number</td>
            <td>
                <input type="text" name="f_num" placeholder="Enter first number">
            </td>
        </tr>
        <tr>
            <td>Enter second number</td>
            <td>
                <input type="text" name="s_num" placeholder="Enter second number">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Add">
            </td>
        </tr>
    </table>
</form>








</body>
</html>